:root
{
    --body_bg : white;
    --body_clr : black;
    --link_clr : navy;
}

[data-theme="dark"]
{
    --body_bg : #282c34;
    --body_clr : white;
    --link_clr : cyan;
}

@import "tailwindcss";

[data-theme="light"] .sun {
    filter: brightness(1) saturate(100%) invert(20%) sepia(100%) saturate(500%) hue-rotate(20deg);
  }
  
  [data-theme="dark"] .sun {
    filter: brightness(1) saturate(100%) invert(85%) sepia(50%) saturate(400%) hue-rotate(180deg);
  }
  
  [data-theme="light"] .moon {
    filter: invert(0%);
  }
  
  [data-theme="dark"] .moon {
    filter: invert(100%);
  }
  